<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  <sectionGroup name="shopping">
    <section name="steps" type="SinaEC.Shopping.Config.ShopStepSection,SinaEC.Shopping"/>
  </sectionGroup>    
  </configSections>

  <shopping>
    <!-- 购物车步骤 -->
    <steps>
      <step key="commcart" description="通用购物车" stepCount="3" type="SinaEC.Shopping.CommShopCart,SinaEC.Shopping">
        <add key="showcart" url="/sp/ShowCart.aspx" description="" index="1"></add>
        <add key="fill" url="/sp/sec/FillOrderInfo.aspx" description="" index="2"></add>
        <add key="finish" url="/sp/sec/FinishOrder.aspx" description="" index="3"></add>
      </step>
    </steps>
  </shopping>
  
</configuration>