<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="searches" type="NoName.NetShop.Search.Config.SearchSection,NoName.NetShop.Search"/>
	</configSections>

	<searches>
		<add dataAcquirer="" dataIndexer="" indexDirectory=""/>
	</searches>
	
	<connectionStrings>
		
	</connectionStrings>
</configuration>