<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="searches" type="NoName.NetShop.Search.Config.SearchSection,NoName.NetShop.Search"/>
    </configSections>

    <searches>
        <add name="product" indexDirectory="F:\works\project\NetShop\src\NoName.NetShop.ForeFlat\Search\index\product"
            dataAcquirer="NoName.NetShop.Search.DataAcquirer.DataAcquirerProduct,NoName.NetShop.Search"
            dataIndexer="NoName.NetShop.Search.DataIndexer.DataIndexerProduct,NoName.NetShop.Search"/>
    </searches>

    <system.web>
		<globalization requestEncoding="gb2312" responseEncoding="utf-8" />
    </system.web>
</configuration>
