<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="searches" type="NoName.NetShop.Search.Config.SearchSection,NoName.NetShop.Search"/>
	</configSections>

	<searches>
        <add name="product" indexDirectory="E:\works\project\NetShop\src\NoName.NetShop.ForeFlat\Search\index\product" 
            dataAcquirer="NoName.NetShop.Search.DataAcquirer.DataAcquirerProduct,NoName.NetShop.Search" 
            dataIndexer="NoName.NetShop.Search.DataIndexer.DataIndexerProduct,NoName.NetShop.Search"/>
		<add name="news" indexDirectory="E:\works\project\NetShop\src\NoName.NetShop.ForeFlat\Search\index\news"
            dataAcquirer="NoName.NetShop.Search.DataAcquirer.DataAcquirerNews,NoName.NetShop.Search"
            dataIndexer="NoName.NetShop.Search.DataIndexer.DataIndexerNews,NoName.NetShop.Search"/>
	</searches>

    <connectionStrings>
        <add name="NetShopDbReaderConn" connectionString="server=test.uncc.cn,2565;uid=yangwei;pwd=yangwei;persist security info=False;initial catalog=NetShop;Max Pool Size=1000" providerName="System.Data.SqlClient"/>
        <add name="NetShopDbWriterConn" connectionString="server=test.uncc.cn,2565;uid=yangwei;pwd=yangwei;persist security info=False;initial catalog=NetShop;Max Pool Size=1000" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>