.member_mainbody{ clear:both}
.member_mainbody .leftColumn{ float:left; width:170px; _margin-right:-3px;}
.member_mainbody .rightColumn{ float:none; margin-left:174px; _margin-left:171px;}
.member_mainbody .rightColumn .rightColumnContainer{ overflow:hidden; _height:0; _overflow:visible}
.member_mainbody .leftColumn .box2 .content ul{ padding:0 0 5px 10px;}
.member_mainbody .leftColumn .box2 .content ul.articleList_1 li.separator{ margin-right:10px; width:125px}
.member_mainbody .rightColumn .box1 .content{ min-height:794px; _height:794px; text-align:center}
.member_mainbody .rightColumn .noPadding .content{ min-height:804px; _height:804px; text-align:center}
.member_mainbody .rightColumn .box1 .content ul.form{ padding:30px 60px; margin:0 auto;}

.member_mainbody .leftColumn ul.articleList_1{ margin:0; padding:0; zoom:1}
.member_mainbody .leftColumn ul.articleList_1:after{content:"."; display:block; height:0; clear:both; visibility:hidden}
.member_mainbody .leftColumn ul.articleList_1 li{ list-style-type:none; float:left; display:block; width:100%; padding:6px 0; margin:0; zoom:1}
.member_mainbody .leftColumn ul.articleList_1 li a span.date{ color:#999}
.member_mainbody .leftColumn ul.articleList_1 li.separator{ border-bottom:1px dotted #CCC; padding:6px 0 0 0; margin:0 0 6px 0; font-size:0; height:0; overflow:hidden; }




.register_mainbody{ clear:both; padding:50px 160px;}
.register_mainbody .regTitle{ height:53px; clear:both; background:url(../images/regTitle.gif) no-repeat left center; margin-bottom:20px;}
.register_mainbody ul.form li .verifyCode{display:block; clear:both; padding-left:85px; padding-top:10px; text-align:left}
.register_mainbody ul.form li .verifyCode img{border:none; width:130px; height:53px; display:block; float:left}
.register_mainbody ul.form li .verifyCode a{ color:#006699; text-decoration:underline; display:block; float:left; padding:38px 0 0 10px;}





.login_mainbody{ clear:both; padding:50px 70px;}
.login_mainbody .loginTitle{ height:53px; clear:both; background:url(../images/loginTitle.gif) no-repeat left top; padding-bottom:20px;}
.login_mainbody .loginBox{ background:#ebebeb; border:1px solid #CCC; width:320px; padding:40px 50px 20px 35px; float:left}
.login_mainbody .loginBox ul.form li.submit{ padding-top:15px; padding-left:25px;}
.login_mainbody .loginBox ul.form li.links{ padding:5px 0 0 25px;*padding:5px 0 0 0; *margin-left:25px; min-height:20px; _height:20px; clear:both}
.login_mainbody .loginBox ul.form li.links span{ padding:0 10px;}
.login_mainbody .loginBox ul.form li.links span a{ color:#069; text-decoration:underline}
.login_mainbody .infoBox{ padding-left:85px; float:left; width:300px;}
.login_mainbody .infoBox ul{ padding:0; margin:0; text-align:left;}
.login_mainbody .infoBox ul li{ list-style-type:none; padding:8px 0;}
.login_mainbody .infoBox ul li span{ display:block; line-height:200%}
.login_mainbody .infoBox ul li span.title{ background:url(../images/sprite.gif) no-repeat -8px -1794px; font-size:14px; font-weight:bold; padding-left:16px; background-position: -8px -1796px\9; _background-position: -8px -1795px;}

.forgotPassword_mainbody{ clear:both;}
.forgotPassword_mainbody .box1 .content{padding:20px 100px}
.forgotPassword_mainbody .box1 .content ul.form{ padding:20px 100px;}
.forgotPassword_mainbody ul.form li .verifyCode{display:block; clear:both; padding-left:85px; padding-top:10px; text-align:left}
.forgotPassword_mainbody ul.form li .verifyCode img{border:none; width:130px; height:53px; display:block; float:left}
.forgotPassword_mainbody ul.form li .verifyCode a{ color:#006699; text-decoration:underline; display:block; float:left; padding:38px 0 0 10px;}

/*reset password Complete Begin*/
.forgotPasswordComplete_mainbody{ clear:both}
.forgotPasswordComplete_mainbody .box1 .content{ padding:40px 100px;}
.forgotPasswordComplete_mainbody .shoppingNavigation4{ clear:both; height:50px; background:url(../images/cart_navigation4.jpg) center top no-repeat; }
.forgotPasswordComplete_mainbody .otherChannel{ text-align:center; clear:both; padding:20px 0;}
.forgotPasswordComplete_mainbody .otherChannel a{ text-decoration:underline; padding:0 10px;}
/*reset password Complete End*/

/*reset password error Begin*/
.forgotPasswordError_mainbody{ clear:both}
.forgotPasswordError_mainbody .box1 .content{ padding:40px 100px;}
.forgotPasswordError_mainbody .shoppingNavigation4{ clear:both; height:50px; background:url(../images/cart_navigation4.jpg) center top no-repeat; }
.forgotPasswordError_mainbody .otherChannel{ text-align:center; clear:both; padding:20px 0;}
.forgotPasswordError_mainbody .otherChannel a{ text-decoration:underline; padding:0 10px;}
/*reset password error End*/