@charset "utf-8";

body{ font-size:12px; color:#333333; text-align:center; margin:0; padding:0; line-height:14px; font-family:Tahoma, Geneva, sans-serif}
form{ margin:0; padding:0}
p{ line-height:200%; text-align:left; padding:0 0 10px 0; margin:0}
p span.important{ color:#F00; font-weight:bold}

a{ color:#333333; text-decoration:none; line-height:14px;}
a:hover{ color:#FF9900; text-decoration:none}

a.linkButton{ text-decoration:underline; color:#006699}
a.linkButton:hover{ text-decoration:underline; color:#FF9900}

.wrapper{ margin:0 auto; clear:both; width:978px; padding:0 12px; background:#FFFFFF url(../images/headerBg.jpg) 0 0 no-repeat}

/*header Begin*/
.header{ clear:both;}
.header .top{ clear:both}
.header .logo{ width:170px; height:56px; float:left; background:url(../images/logo.gif) no-repeat 0 0; margin:18px 0 0 26px; _display:inline}
.header ul.toplink{ padding:0; margin:0; float:right; padding-top:13px}
.header ul.toplink li{ list-style-type:none; float:left; padding-right:5px;}
.header ul.toplink li.slogan{ color:#999999;*padding-top:1px;}

.header ul.navigator{ padding:0; margin:0; float:right; width:630px; padding-top:7px; overflow:hidden;height:40px}
.header ul.navigator li{ list-style-type:none; float:left; padding-left:10px;}
.header ul.navigator li a{ display:block; height:40px; background:url(../images/header.jpg) no-repeat}
.header ul.navigator li a.home{ background-position:-330px 0; width:90px;}
.header ul.navigator li a.home:hover{ background-position:-330px -43px;}
.header ul.navigator li a.shopping{ background-position:-440px 0; width:90px;}
.header ul.navigator li a.shopping:hover{ background-position:-440px -43px;}
.header ul.navigator li a.solution{ background-position:-547px 0; width:100px;}
.header ul.navigator li a.solution:hover{ background-position:-547px -43px;}
.header ul.navigator li a.brands{ background-position:-660px 0; width:100px;}
.header ul.navigator li a.brands:hover{ background-position:-660px -43px;}
.header ul.navigator li a.information{ background-position:-774px 0; width:100px;}
.header ul.navigator li a.information:hover{ background-position:-774px -43px;}
.header ul.navigator li a.magic{ background-position:-888px 0; width:90px;}
.header ul.navigator li a.magic:hover{ background-position:-888px -43px;}

.header .panel{ clear:both; width:auto; height:73px; background:url(../images/sprite.gif) 0 -97px repeat-x; margin-top:20px;}
.header .panel .edge{ background:url(../images/sprite.gif) no-repeat; width:2px; height:73px; overflow:hidden; font-size:0; line-height:0}
.header .panel .left{ float:left; background-position:0 -21px; }
.header .panel .right{ float:right; background-position:-18px -21px;}
.header .panel .middle{ float:none; margin:0px 10px 0 15px; padding:8px 0 0 0; text-align:left; background:url(../images/tel.gif) right 13px no-repeat;}
.header .panel .middle ul.searchbar{ margin:0; padding:0; width:80%; height:28px;}
.header .panel .middle ul.searchbar li{ float:left; list-style-type:none}
.header .panel .middle ul.searchbar li.label{ font-weight:bold; color:#FFF; padding-top:5px; padding-right:3px;}
.header .panel .middle ul.searchbar li.selectBox{ text-align:left}
.header .panel .middle ul.searchbar li.selectBox .border{ border:#A3CFEA 1px solid}
.header .panel .middle ul.searchbar li.textField{ padding-left:5px;}
.header .panel .middle ul.searchbar li.textField .border{ border:#A3CFEA 1px solid;zoom:1; width:200px;}
.header .panel .middle ul.searchbar li.textField .border:after{content:"."; display:block; height:0; clear:both; visibility:hidden}
.header .panel .middle ul.searchbar li.textField .border input{ background:#FFF; font-size:12px; line-height:14px; height:14px; padding:2px 3px; margin:0; border:1px solid #7BAECD; float:left; width:192px;}
.header .panel .middle ul.searchbar li.submit{ padding-left:5px;}
.header .panel .middle ul.searchbar li.submit a{ display:block; width:42px; height:22px; background:url(../images/sprite.gif) -4px -231px;}
.header .panel .middle ul.searchbar li.submit a:hover{ background-position:-4px -261px;}


/*selectbox on top*/
.header .panel .middle ul.searchbar li.selectBox .currentOption{ padding:3px 8px 1px 8px;padding:2px 8px\9;_padding:3px 8px 1px 8px; height:14px; background:#E6F6FB url(../images/sprite.gif) right -202px no-repeat; color:#333; border:1px solid #7BAECD;}
.header .panel .middle ul.searchbar li.selectBox .currentOption:hover{ background-color:#F8FCFE; background-position:right -183px; color:#666}
.header .panel .middle ul.searchbar li.selectBox .list{ background:#FFFFFF; border:1px solid #7BAECD}
.header .panel .middle ul.searchbar li.selectBox .list a{ padding:5px 8px; height:12px;}
.header .panel .middle ul.searchbar li.selectBox .list a:hover{ background:#003399; color:#FFFFFF}
/*selectbox on top*/

.header .panel .middle .hotKeyWords{ float:left; width:500px; height:14px; padding-top:12px; overflow:hidden}
.header .panel .middle .hotKeyWords span{ color:#FFF}
.header .panel .middle .hotKeyWords span.label{ font-weight:bold}
.header .panel .middle .hotKeyWords span.words{}
.header .panel .middle .hotKeyWords span.words a{ margin-right:9px; color:#FFF; text-decoration:none}
.header .panel .middle .hotKeyWords span.words a:hover{ color:#CCC; text-decoration:underline}

.header .panel .middle ul.userLink{ margin:8px 0 0 0; padding:0; float:right; height:23px; padding:0; background:#5E9FC7}
.header .panel .middle ul.userLink li{ list-style-type:none; float:left; height:14px; margin-top:5px; padding:0 5px;}
.header .panel .middle ul.userLink li a{ display:block; padding-left:15px; background:url(../images/sprite.gif) 0 -320px no-repeat; color:#FFF;}
/*hack begin*/
.header .panel .middle ul.userLink li{ margin-top:6px\9;_margin-top:5px;}
.header .panel .middle ul.userLink li a{ background-position: 0 -321px\9;_background-position: 0 -320px;}
/*hack end*/
.header .panel .middle ul.userLink li a:hover{ color:#CCC}
.header .panel .middle ul.userLink li.left{ background:url(../images/sprite.gif) 0 -289px no-repeat; width:4px; height:23px; display:block; margin:0; padding:0; font-size:0; overflow:hidden}
.header .panel .middle ul.userLink li.right{ background:url(../images/sprite.gif) -46px -289px no-repeat; width:4px; height:23px; display:block; margin:0; padding:0; font-size:0; overflow:hidden}
/*header End*/



/*HomePage Begin*/
.homePage_mainbody{ clear:both}
.homePage_mainbody .leftColumn{ float:left; width:220px; _margin-right:-3px;}
.homePage_mainbody .rightColumn{ float:right; width:220px; _margin-left:-3px;}
.homePage_mainbody .midColumn{ float:none; margin:0 224px; _margin:0 221px;}
.homePage_mainbody .midColumn .midColumnContainer{ overflow:hidden; _height:0; _overflow:visible}

.homePage_mainbody .vote{ clear:both}
.homePage_mainbody .vote .topic{ clear:both; padding:0 10px 10px 10px}
.homePage_mainbody .vote ul.options{ padding:0 20px; clear:both; margin:0}
.homePage_mainbody .vote ul.options li{ list-style-type:none; padding:4px 0; height:17px;}
.homePage_mainbody .vote ul.options li input{ width:14px; height:14px; margin:1px 5px 0 0;margin:0 5px 0 0\9; _margin:1px 5px 0 0; display:block; float:left; padding:0;_display:inline}
.homePage_mainbody .vote ul.options li span{ display:block; float:left;}
.homePage_mainbody .vote .buttons{ padding:3px 0 0 20px; margin:0; clear:both;}
.homePage_mainbody .vote .buttons a{ margin-right:10px; float:left}

.homePage_mainbody ul.recommendation{ clear:both; padding:32px 10px 0 10px; margin:0}
.homePage_mainbody ul.recommendation li{ list-style-type:none; float:left; width:144px; display:block; padding:0 6px 0 11px;}
.homePage_mainbody ul.recommendation li .picBox{ clear:both; position:relative; border:1px solid #B4CFEC; background:#FFF; padding:1px;}
.homePage_mainbody ul.recommendation li .picBox span{ display:block; width:37px; height:28px; background:url(../images/cake.gif) no-repeat; position:absolute; left:-13px; top:-12px; color:#993300; font-weight:bold; padding:13px 0 0 4px;}
.homePage_mainbody ul.recommendation li .picBox img{ width:140px; height:105px; border:0}
.homePage_mainbody ul.recommendation li a{ clear:both;}
.homePage_mainbody ul.recommendation li a span{ display:block; clear:both; text-align:center; padding-top:6px;}
.homePage_mainbody ul.recommendation li a span.price{ color:#E42D2E;}
.homePage_mainbody ul.recommendation li a span.name{ color:#333333}


.homePage_mainbody ul.infos{ clear:both; margin:0; padding:0; padding:12px 15px;}
.homePage_mainbody ul.infos li{ list-style-type:none; float:left; width:160px;}
.homePage_mainbody ul.infos li span{ display:block;padding-left:40px; background:url(../images/sprite.gif) 20px -2px no-repeat;background-position: 20px -3px\9; text-align:left; color:#236FA4; font-weight:bold; clear:both}
.homePage_mainbody ul.infos li a{ clear:both; display:block; text-align:left; padding-top:9px; color:#777777}
.homePage_mainbody ul.infos li a:hover{ color:#F90}

/*HomePage End*/


/*currentPosition*/
.currentPosition{ padding:10px 0 3px 5px; clear:both; text-align:left; font-family:"宋体"}
/*currentPosition*/


/*CateMenu Begin*/
.cateBox div.content{ padding:10px 10px 0 0}
.cateBox .mainCategory .groupTitle{ margin-left:10px;}

.topCate{ float:left; margin-right:10px;}
.cateMenu_normal{ width:180px; height:14px; padding:5px 5px 8px 20px; background:url(../images/sprite.gif) 190px -537px no-repeat;}
.cateMenu_hover{ width:180px; height:14px; padding:5px 5px 8px 20px; background:url(../images/sprite.gif) 0 -569px repeat-x; z-index:1000}
.cateMenu_normal{ position:relative}
.cateMenu_normal span { float:left; display:block; padding-left:8px; color:#999}
.cateMenu_hover{ position:relative}
.cateMenu_hover span { display:none;}
.pop{ border:1px solid #B4CFEC; border-left:none; width:160px; position:absolute; left:185px; top:0; background:#FFFFFF url(../images/vLine.gif) 0 22px no-repeat; padding:0 5px; z-index:1001}
.pop a{ display:block; padding:6px 5px 7px 20px; width:55px; float:left; background:url(../images/sprite.gif) 0px -538px no-repeat}
.popShadow{ left:188px; top:4px; width:160px; padding:0 5px; background:#000; position:absolute; z-index:1000;filter:alpha(opacity=20);opacity: 0.2; }
.cateMenu_normal .pop,.cateMenu_normal .popShadow{ display:none}
.cateMenu_hover .pop,.cateMenu_hover .popShadow{ display:block;}
#checkLoadCate{ display:none}
/*CateMenu End*/

/*Category non-popMenu*/
.cateBox div.content .category_non-popMenu{ padding:0 0 0 10px;}
.category_non-popMenu{ clear:both}
.category_non-popMenu a.class{ display:block; clear:both; height:14px; padding:5px 0 5px 10px; background:#DEF0F8; color:#236FA4; font-weight:bold}
.category_non-popMenu div.subs{ clear:both; padding:5px;}
.category_non-popMenu div.subs a{ display:block; float:left; width:50px; padding:5px; height:14px;}
.category_non-popMenu div.subs a.more{ margin:8px 0 0 0; margin:6px 0 0 0\9; _margin:8px 0 0 0; padding:0; width:34px}
/*Category non-popMenu*/

.hotlist{ clear:both}
.hotlist .tableHeader{ clear:both; padding-bottom:5px;}
.hotlist .tableHeader .column{ margin-right:1px; background:#E1E3E4; padding:5px 10px; float:left; text-align:center}
.hotlist .tableHeader .column1{ width:25px;}
.hotlist .tableHeader .column2{ width:70px;}
.hotlist .tableHeader .column3{ width:38px;}
.hotlist ul.listContent{ margin:0; padding:0; clear:both}
.hotlist ul.listContent li{ clear:both; list-style-type:none; zoom:1; *display:inline}
.hotlist ul.listContent li:after{content:"."; display:block; height:0; clear:both; visibility:hidden}
.hotlist ul.listContent li a{padding:5px 10px; float:left; display:block; text-align:center;  height:14px; line-height:14px;white-space:nowrap;
; overflow:hidden}
.hotlist ul.listContent li a.rank{width:25px;}
.hotlist ul.listContent li a.name{ width:88px; color:#187FAF; text-align:left; padding:5px 2px;}
.hotlist ul.listContent li a.price{ width:40px; color:#F00}


ul.thumbnailList_1{ clear:both; margin:0; padding:10px; zoom:1;}
ul.thumbnailList_1:after{content:"."; display:block; height:0; clear:both; visibility:hidden}
ul.thumbnailList_1 li{ list-style-type:none; width:160px; float:left; text-align:center; padding:5px 0;}
ul.thumbnailList_1 li img{ width:120px; height:90px; clear:both; border:none}
ul.thumbnailList_1 li a{ clear:both}
ul.thumbnailList_1 li a span{display:block; clear:both; padding-top:6px;}
ul.thumbnailList_1 li a span.price{ color:#0087C8; font-weight:bold; }
ul.thumbnailList_1 li a span.name{ color:#333 }

ul.directions{ padding:0 10px; margin:0;}
ul.directions li{ list-style-type:none; float:left; width:150px; background:url(../images/sprite.gif) right -1114px no-repeat; min-height:120px; _height:120px; padding:0 18px;}
ul.directions li.last{ background:none;}
ul.directions li span.icon{ float:left; display:block; background:url(../images/directionsIcons.gif) no-repeat; height:43px; width:58px;}
ul.directions li span.beginner{ background-position:0 0; }
ul.directions li span.deliver{ background-position:-58px 0; margin-right:10px; }
ul.directions li span.pay{ background-position:-135px 0; }
ul.directions li span.service{ background-position:-190px 0; }
ul.directions li span.help{ background-position:-248px 0; }
ul.directions li span.text{ float:left; color:#008AC8; font-weight:bold; line-height:200%}
ul.directions li span.text a{ display:block; clear:both; font-weight:normal; padding:5px 0;}

.copyright{ clear:both;padding:20px; text-align:center; line-height:200%}
.copyright span{ color:#444}


a.button_blue{ background:url(../images/sprite_buttons.gif) -3px -3px no-repeat; text-align:center; width:73px; height:17px; padding:4px 0 1px 0; padding:5px 0 0 0\9; border:none; font-size:12px; line-height:14px; display:block; cursor:pointer; color:#333!important; text-decoration:none!important}
a.button_blue:hover{ background-position:-3px -26px; color:#333!important; text-decoration:none!important}

a.button_blue2{ background:url(../images/sprite_buttons.gif) -3px -55px no-repeat; text-align:center; width:73px; height:16px; padding:3px 0 2px 0; padding:5px 0 0 0\9; _padding:4px 0 1px 0; border:none; font-size:12px; font-weight:bold; color:#FFF; line-height:14px; display:block; cursor:pointer}
a.button_blue2:hover{ background-position:-3px -77px; color:#FFF}


.rankIndex{ width:13px; height:13px; display:block; background:url(../images/rank.gif); margin:0 auto}
.R1{ background-position:0 0;}
.R2{ background-position:0 -24px;}
.R3{ background-position:0 -48px;}
.R4{ background-position:0 -72px;}
.R5{ background-position:0 -96px;}
.R6{ background-position:0 -120px;}
.R7{ background-position:0 -144px;}
.R8{ background-position:0 -168px;}
.R9{ background-position:0 -192px;}
.R10{ background-position:0 -216px;}
.R11{ background-position:0 -240px;}
.R12{ background-position:0 -264px;}
.R13{ background-position:0 -288px;}
.R14{ background-position:0 -312px;}
.R15{ background-position:0 -336px;}
.R16{ background-position:0 -360px;}
.R17{ background-position:0 -384px;}
.R18{ background-position:0 -408px;}
.R19{ background-position:0 -432px;}
.R20{ background-position:0 -456px;}


.sheet1{ background:#F7FAFD; border: 1px dashed #0099CC; padding:10px; clear:both}

ul.tip1{ padding:0; margin:0; float:left; zoom:1;_display:inline}
ul.tip1:after{content:"."; display:block; height:0; clear:both; visibility:hidden}
ul.tip1 li{ list-style-type:none; background:url(../images/sprite.gif) no-repeat; height:35px; float:left}
ul.tip1 li.left{ background-position:-8px -1415px; height:35px; width:10px;}
ul.tip1 li.right{ background-position:-32px -1415px; height:35px; width:10px; }
ul.tip1 li.middle{ background-position:center -1365px;}
ul.tip1 li.middle span{ display:block; height:21px; background:#CCC; font-weight:bold; text-align:center; padding:8px 5px 0 5px; float:left}



.box1{ clear:both; width:auto; text-align:left}
.box1 ul.title{ height:26px; clear:both; background:url(../images/sprite.gif) 0 -382px repeat-x; margin:0; padding:0}
.box1 ul.title li{ float:left; list-style-type:none}
.box1 ul.title li span{  display:block; float:left; padding:6px 10px 0 15px; padding:8px 10px 0 20px\9; _padding:7px 10px 0 20px; color:#FFF; font-weight:bold; background:url(../images/sprite.gif) -2px -411px no-repeat;}
.box1 ul.title li.left{ list-style-type:none; float:left; width:10px; height:26px; background:url(../images/sprite.gif) 0 -350px no-repeat; font-size:0}
.box1 ul.title li.right{ list-style-type:none; float:right; width:10px; height:26px; background:url(../images/sprite.gif) -12px -350px no-repeat; font-size:0}

.box1 .content{ clear:both; padding:10px 10px 0 10px; background:#FFF; border-left:1px solid #B5D0EC; border-right:1px solid #B5D0EC; zoom:1;}
.box1 .content:after{content:"."; display:block; height:0; clear:both; visibility:hidden}

.box1 ul.bottom{ padding:0; margin:0; height:10px; clear:both; background:#FFF url(../images/sprite.gif) 0 -458px repeat-x; font-size:0; overflow:hidden}
.box1 ul.bottom li.left{ list-style-type:none; float:left; width:10px; height:10px; background:url(../images/sprite.gif) 0 -441px;}
.box1 ul.bottom li.right{ list-style-type:none; float:right; width:10px; height:10px; background:url(../images/sprite.gif) -9px -441px;}

.box2{ clear:both; width:auto; text-align:left}
.box2 ul.title{ height:26px; clear:both; background:url(../images/sprite.gif) 0 -382px repeat-x; margin:0; padding:0}
.box2 ul.title li{ float:left; list-style-type:none}
.box2 ul.title li span{ display:block; float:left; padding:6px 10px 0 15px; padding:8px 10px 0 20px\9; _padding:7px 10px 0 20px; color:#FFF; font-weight:bold; background:url(../images/sprite.gif) -2px -411px no-repeat;}

.box2 ul.title li a.Tab_on{ display:block; padding:3px 7px 0 7px; float:left; margin-top:5px; height:17px; border:1px solid #2D6081; border-bottom:none; border-right-width:2px; background:#F7FAFD; text-align:center; font-weight:bold; padding:5px 5px 0 5px\9; height:15px\9; _padding:3px 5px 0 5px\9; _height:17px\9; color:#333}
.box2 ul.title li a.Tab_off{ display:block; padding:3px 7px 0 7px; float:left; margin-top:5px; height:17px; text-align:center; font-weight:bold; padding:5px 5px 0 5px\9; height:15px\9; _padding:3px 5px 0 5px\9; _height:17px\9; color:#FFF}

.box2 ul.title li.left{ list-style-type:none; float:left; width:10px; height:26px; background:url(../images/sprite.gif) 0 -350px no-repeat; font-size:0}
.box2 ul.title li.right{ list-style-type:none; float:right; width:10px; height:26px; background:url(../images/sprite.gif) -12px -350px no-repeat; font-size:0}
.box2 ul.title li.more{ float:right; padding:8px 0 0 0;}

.box2 .content{ clear:both; padding:10px 10px 0 10px; background:#F7FAFD; border-left:1px solid #B5D0EC; border-right:1px solid #B5D0EC; zoom:1}
.box2 .content:after{content:"."; display:block; height:0; clear:both; visibility:hidden}
.box2 .content .groupTitle{ display:block; clear:both; height:14px; padding:5px 0 5px 10px; margin-bottom:5px; background:#DEF0F8; color:#236FA4; font-weight:bold}

.box2 ul.bottom{ padding:0; margin:0; height:10px; clear:both; background:#F7FAFD url(../images/sprite.gif) 0 -458px repeat-x; font-size:0; overflow:hidden}
.box2 ul.bottom li.left{ list-style-type:none; float:left; width:10px; height:10px; background:url(../images/sprite.gif) -31px -441px;}
.box2 ul.bottom li.right{ list-style-type:none; float:right; width:10px; height:10px; background:url(../images/sprite.gif) -40px -441px;}

.noPaddingContentBox { padding:0!important;}
.noPadding .content{ padding:0}
.content .section{ clear:both;}
.content .noPadding{ padding:0}
.content .padding{ padding:20px;}
.content .padding2{ padding:20px 100px;}


.box3{ clear:both;}
.box3 .left{ height:200px; width:10px; background:url(../images/sprite.gif) -7px -602px; float:left; _margin-right:-3px;}
.box3 .right{ height:200px; width:10px; background:url(../images/sprite.gif) -32px -602px; float:right; _margin-left:-3px;}
.box3 .middle{ float:none; background:url(../images/sprite.gif) 0 -808px repeat-x; height:200px; margin:0 10px;_margin:0;}
.box3 .middle .boxContainer{ overflow:hidden; _height:0; _overflow:visible;}


.box4{ clear:both; width:auto; text-align:left}
.box4 ul.title{ height:26px; clear:both; background:url(../images/sprite.gif) 0 -1041px repeat-x; margin:0; padding:0}
.box4 ul.title li{ float:left; list-style-type:none}
.box4 ul.title li span{ display:block; float:left; padding:6px 10px 0 15px; padding:8px 10px 0 20px\9; _padding:7px 10px 0 20px; color:#FFF; font-weight:bold; background:url(../images/sprite.gif) -2px -1066px no-repeat; color:#236FA4;}

.box4 ul.title li a.Tab_on{ display:block; padding:3px 7px 0 7px; float:left; margin-top:5px; height:17px; border:1px solid #2D6081; border-bottom:none; border-right-width:2px; background:#F7FAFD; text-align:center; font-weight:bold; padding:5px 5px 0 5px\9; height:15px\9; _padding:3px 5px 0 5px\9; _height:17px\9; color:#333}
.box4 ul.title li a.Tab_off{ display:block; padding:3px 7px 0 7px; float:left; margin-top:5px; height:17px; text-align:center; font-weight:bold; padding:5px 5px 0 5px\9; height:15px\9; _padding:3px 5px 0 5px\9; _height:17px\9; color:#FFF}

.box4 ul.title li.left{ list-style-type:none; float:left; width:10px; height:26px; background:url(../images/sprite.gif) 0 -1012px no-repeat; font-size:0}
.box4 ul.title li.right{ list-style-type:none; float:right; width:10px; height:26px; background:url(../images/sprite.gif) -12px -1012px no-repeat; font-size:0}
.box4 ul.title li.more{ float:right; padding:8px 0 0 0;}

.box4 .content{ clear:both; padding:10px 10px 0 10px; background:#FFF; border-left:1px solid #B5D0EC; border-right:1px solid #B5D0EC}
.box4 .content .groupTitle{ display:block; clear:both; height:14px; padding:5px 0 5px 10px; margin-bottom:5px; background:#DEF0F8; color:#236FA4; font-weight:bold}

.box4 ul.bottom{ padding:0; margin:0; height:10px; clear:both; background:#FFF url(../images/sprite.gif) 0 -458px repeat-x; font-size:0; overflow:hidden}
.box4 ul.bottom li.left{ list-style-type:none; float:left; width:10px; height:10px; background:url(../images/sprite.gif) 0 -441px;}
.box4 ul.bottom li.right{ list-style-type:none; float:right; width:10px; height:10px; background:url(../images/sprite.gif) -9px -441px;}


.box5{ clear:both; width:auto; text-align:left}
.box5 ul.top{ height:10px; clear:both; background:#F7FAFD url(../images/sprite.gif) 0 -467px repeat-x; margin:0; padding:0}
.box5 ul.top li.left{ list-style-type:none; float:left; width:10px; height:10px; background:url(../images/sprite.gif) -31px -436px no-repeat; font-size:0}
.box5 ul.top li.right{ list-style-type:none; float:right; width:10px; height:10px; background:url(../images/sprite.gif) -40px -436px no-repeat; font-size:0}
.box5 .content{ clear:both; padding:10px; background:#F7FAFD; border-left:1px solid #B5D0EC; border-right:1px solid #B5D0EC}
.box5 .content .groupTitle{ display:block; clear:both; height:14px; padding:5px 0 5px 10px; margin-bottom:5px; background:#DEF0F8; color:#236FA4; font-weight:bold}

.box5 ul.bottom{ padding:0; margin:0; height:10px; clear:both; background:#F7FAFD url(../images/sprite.gif) 0 -458px repeat-x; font-size:0; overflow:hidden}
.box5 ul.bottom li.left{ list-style-type:none; float:left; width:10px; height:10px; background:url(../images/sprite.gif) -31px -441px;}
.box5 ul.bottom li.right{ list-style-type:none; float:right; width:10px; height:10px; background:url(../images/sprite.gif) -40px -441px;}

.box6{ clear:both; border:1px solid #B5D0EC; padding:1px;}
.box6 .title{ height:19px; padding:5px 0 0 10px; color:#333; font-weight:bold; text-align:left;background:transparent url(../images/sprite.gif) repeat-x scroll 0 -1264px;}
.box6 .content{ padding:15px; clear:both; border:none; min-height:0px!important;_height:0!important; zoom:1;}
.box6 .content:after{content:"."; display:block; height:0; clear:both; visibility:hidden}

.bold{ font-weight:bold}
.disabled{ color:#999}


.titleBar1{ clear:both; padding:7px 0 0 10px; height:25px; background:url(../images/sprite.gif) 0 -1317px repeat-x; border-top:1px solid #B5D0EC; border-left:1px solid #FFF; border-right:1px solid #FFF; text-align:left; font-weight:bold;}

ul.form{ margin:0; padding:0; zoom:1;}
ul.fullColumn{ margin:0!important; padding:0!important;}
ul.form:after{content:"."; display:block; height:0; clear:both; visibility:hidden}
ul.form li{ list-style-type:none; clear:both; min-height:35px; _height:35px; zoom:1;}
ul.form li.submit{ list-style-type:none; clear:both; min-height:35px; _height:35px; zoom:1; text-align:center; padding-top:30px;}
ul.form li.submit a{ margin:0 auto;}
ul.form li:after{content:"."; display:block; height:0; clear:both; visibility:hidden}
ul.form li span{ float:left; text-align:lef; padding-top:4px;}
ul.form li span.field{ display:block; width:75px; text-align:right; padding-right:10px; font-family:"宋体"}
ul.form li span.tip{ display:block; padding-left:8px; color:#999}
ul.form li span.important{ color:#F00}
ul.form li input.textField0{ border:#CCC 1px solid; height:14px; padding:3px; margin:0; float:left; font-size:12px; width:115px; margin-right:10px;}
ul.form li input.textField1{ border:#CCC 1px solid; height:14px; padding:3px; margin:0; float:left; font-size:12px; width:215px;}
ul.form li input.textField2{ border:#CCC 1px solid; height:14px; padding:3px; margin:0; float:left; font-size:12px; width:415px;}
ul.form li input.textField3{ border:#CCC 1px solid; height:14px; padding:3px; margin:0; float:left; font-size:12px; width:532px;}
ul.form li textarea{ width:415px; border:#CCC 1px solid; height:100px; padding:3px; float:left; font-size:12px;}
ul.form li textarea.textarea3{ width:532px; border:#CCC 1px solid; height:100px; padding:3px; float:left; font-size:12px;}
ul.form li .component{ float:left;}

div.table1{ clear:both; text-align:center;}
div.table1 table{ width:99%; border-collapse: collapse; margin:auto; background:#FFF;}
div.table1 table tr th{ border:1px solid #B5D0EC; padding:0; background:url(../images/sprite.gif) 0 -1264px repeat-x;}
div.table1 table tr th span{ display:block; clear:both; border:1px solid #FFF; height:19px; padding-top:5px;}
div.table1 table tr td{ border:1px solid #B5D0EC; padding:5px; line-height:200%}

div.table2{ clear:both; text-align:center;}
div.table2 table{ width:100%; border-collapse: collapse; margin:auto; background:#FFF; table-layout:fixed}
div.table2 table tr th{ padding:0; background:url(../images/sprite.gif) 0 -1464px repeat-x;}
div.table2 table tr th span{ display:block; clear:both; height:14px; padding:3px 5px 5px 5px; padding:5px 5px 3px 4px\9; _padding:4px 5px 4px 5px; border-right:1px solid #B5D0EC; border-left:1px solid #FFF; font-weight:normal}
div.table2 table tr th.first span{ border-left:none}
div.table2 table tr th.last span{ border-right:none}
div.table2 table tr th.actions{ width:90px;}
div.table2 table tr th.checkBox{ width:70px;}
div.table2 table tr td{ padding:2px 5px; line-height:200%;}
div.table2 table tr td a.iconButton{ float:left; margin-left:5px;}
div.table2 table tr.odd{ background:#FFF;}
div.table2 table tr.even{ background:#e9f0fa}
div.table2 table tr.bottom td{ background:#FFF; border-top:#B5D0EC 1px solid; padding:8px;}
div.table2 table tr.bottom td a.button_blue{ float:left}
div.table2 table tr.bottom td .pagination{ float:right}

div.table2 a{ color:#069; text-decoration:none}
div.table2 a:hover{ color:#036; text-decoration:underline}

.pagination{ height:22px; line-height:100%}
.pagination a.prev{ display:block; height:22px; width:23px; float:left; background:url(../images/sprite.gif) -3px -1491px no-repeat;}
.pagination a.prev:hover{ background-position:-3px -1513px;}
.pagination a.next{ display:block; height:22px; width:23px; float:left; background:url(../images/sprite.gif) -24px -1491px no-repeat;}
.pagination a.next:hover{ background-position:-24px -1513px;}
.pagination .pageNum{ float:left; height:18px; padding:2px; background:url(../images/sprite.gif) 0 -1540px repeat-x; }
.pagination .pageNum a{ display:block; float:left; padding:2px 5px}
.pagination .pageNum a.on{ background:#5498BB; color:#FFF!important; font-weight:bold; cursor:default; text-decoration:none!important}
.pagination .pageNum a.hover{ color:#FFF!important; font-weight:bold; cursor:default; text-decoration:none!important}
.pagination .jumpTo{ float:left; padding-left:10px; padding-top:1px;}
.pagination .jumpTo span{ display:block; float:left; padding-top:5px; padding-top:6px\9; _padding-top:5px;}
.pagination .jumpTo input{ display:block; width:10px; float:left; border:1px solid #B5D0EC; margin:0 5px; height:14px; padding:2px 5px; font-size:12px;}


a.iconButton{ display:block; height:16px; width:16px; background:url(../images/sprite.gif)}
a.viewMessage{ background-position:-4px -1573px;}
a.delete{ background-position:-32px -1573px;}


a.more1{ display:block; width:34px; height:11px; background:url(../images/sprite.gif) -9px -493px no-repeat;}

ul.bullet_1 li a{ 
display:block;
padding-left:20px; background:url(../images/sprite.gif) 0 -2px no-repeat;
background-position: 0 -3px\9;/*IE6/7/8*/
}
/* Safari */
@media screen and (-webkit-min-device-pixel-ratio:0)
{ul.bullet_1 li a{ background-position: 0 -1px; }}

ul.bullet_2 li a{
display:block;
padding-left:15px; background:url(../images/sprite.gif) 0 -520px no-repeat;
background-position: 0 -521px\9;/*IE6/7/8*/
text-align:left;
}
/* Safari */
@media screen and (-webkit-min-device-pixel-ratio:0)
{ul.bullet_2 li a{ background-position: 0 -519px; }}


ul.articleList_1{ margin:0; padding:0;}
ul.articleList_1 li{ list-style-type:none; clear:both; padding:6px 0; margin:0;}


.banner{ clear:both; font-size:0; line-height:0; overflow:hidden}
.banner img{ border:none}

.topButtons_left{ clear:both; text-align:left; zoom:1; padding:10px 5px;}
.topButtons_left:after{content:"."; display:block; height:0; clear:both; visibility:hidden}
.topButtons_left a{ margin-left:5px; float:left}


/*header select box begin*/
.headerbox_currentOption{ padding:5px; height:12px; background:#0099FF; color:#FFFFFF}
.headerbox_currentOption:hover{ padding:5px; height:12px; background:#FF6600; color:#FFFFFF}
.headerbox_list{ background:#FFFFFF; border:1px solid #CCCCCC}
.headerbox_list a{ padding:5px; height:12px;}
.headerbox_list a:hover{ background:#003399; color:#FFFFFF}
/*header select box end*/

/*common select box begin*/
.commonSelectBox_currentOption{ padding:3px 8px 1px 8px;padding:2px 8px\9;_padding:3px 8px 1px 8px; height:14px; background:#FFF url(../images/sprite.gif) right -202px no-repeat; color:#333; border:1px solid #CCC; text-align:left}
.commonSelectBox_currentOption:hover{ background-color:#FFF; background-position:right -183px; color:#666}
.commonSelectBox_list{ background:#FFFFFF; border:1px solid #CCC; text-align:left}
.commonSelectBox_list a{ padding:5px 8px; height:12px;}
.commonSelectBox_list a:hover{ background:#003399; color:#FFFFFF}
/*common select box end*/



.SlideTextBg{ display:none}
.SlideText{ display:none}
.SlideBar{ bottom:10px!important;}
.SlideIndex{ padding-right:10px!important;}
.SlideIndex a{ border:1px #74A8ED solid!important; background:#FFF!important; color:#0099CC!important; font-size:11px!important; padding:2px 5px!important; margin-right:3px!important;}
.SlideIndex a:hover{ background:#9CF;!important}
.SlideIndex a.on{ background:#74A8ED!important; border:#FFF 1px solid!important; color:#FFF!important; font-size:13px;!important}



.clearSpacer{ clear:both; height:1px; line-height:0; font-size:0; display:block; visibility:hidden}

.newline{ margin-top:4px;}

.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden}
.clearfix{zoom:1;}