.member_mainbody{ clear:both;}
.member_mainbody{ clear:both}
.member_mainbody .leftColumn{ float:left; width:170px; _margin-right:-3px;}
.member_mainbody .rightColumn{ float:none; margin-left:174px; _margin-left:171px;}
.member_mainbody .rightColumn .rightColumnContainer{ overflow:hidden; _height:0; _overflow:visible}

.member_mainbody .leftColumn .box2 .content ul{ padding:0 0 5px 10px;}

.member_mainbody .rightColumn .box1 .content{ min-height:586px; _height:586px; text-align:center}
.member_mainbody .rightColumn .noPadding .content{ min-height:596px; _height:596px; text-align:center}
.member_mainbody .rightColumn .box1 .content ul.form{ padding:30px 60px; margin:0 auto;}