/*Solution common begin*/
.solutionSubNav{ position:absolute; right:0; _right:12px; top:5px; width:420px; height:25px;}
.solutionSubNav .solutionButtonTab{ float:right;}
.solutionSubNav .solutionButtonTab a.button_blue{ float:right; margin-left:5px;}
.solutionSubNav .solutionButtonTab a.button_blue2{ float:right; margin-left:5px; margin-top:1px;}
/*Solution common end*/

/*solution customize begin*/
.solutionCustomize_mainbody{ clear:both}
.solutionCustomize_mainbody span.columnTitle{display:block; padding-left:20px; background:url(../images/sprite.gif) 0 -2px no-repeat;
background-position: 0 -3px\9; text-align:left; font-weight:bold; margin-bottom:10px;}
.solutionCustomize_mainbody .leftColumn{ float:left; width:483px; padding-right:4px; border-right:1px dotted #B5D0EC}
.solutionCustomize_mainbody .leftColumn .buttons{ clear:both; zoom:1; padding:5px 3px;}
.solutionCustomize_mainbody .leftColumn .buttons:after{content:"."; display:block; height:0; clear:both; visibility:hidden}
.solutionCustomize_mainbody .leftColumn .buttons a{ float:right!important; margin-left:5px;}

.solutionCustomize_mainbody .rightColumn .buttons{ clear:both; padding-top:9px; text-align:left}

.solutionCustomize_mainbody .rightColumn{ float:left; width:483px; margin-left:7px;}
.solutionCustomize_mainbody .rightColumn .equipmentCategory{ clear:both; text-align:left; padding-bottom:5px; border-bottom:1px dotted #B5D0EC}
.solutionCustomize_mainbody .rightColumn .equipmentCategory a{ display:inline; line-height:25px; padding:2px 5px;}
.solutionCustomize_mainbody .rightColumn .equipmentCategory a.on{ background:#5498BB; color:#FFF; cursor:default}

.solutionCustomize_mainbody .rightColumn ul.form{ padding:18px 5px 4px 10px; _padding:18px 5px 3px 10px}
.solutionCustomize_mainbody .rightColumn ul.form li span.field{ width:auto}
.solutionCustomize_mainbody .rightColumn ul.form li input{ padding:3px; margin-right:5px;}
.solutionCustomize_mainbody .rightColumn ul.form li .commonSelectBox_currentOption{ height:16px;}

.solutionCustomize_mainbody .rightColumn .table2 table{ table-layout:auto}
.solutionCustomize_mainbody .rightColumn .table2 table tr th{ white-space:nowrap}
.solutionCustomize_mainbody .rightColumn .table2 table tr td{ padding:5px;}
.solutionCustomize_mainbody .rightColumn .table2 table tr td img{ width:100; height:75px; padding:1px; border:1px solid #CCC}
/*solution customize end*/

/*solution customize form end*/
.solutionCustomizeForm_mainbody .sheet1 { padding:50px 100px;}
.solutionCustomizeForm_mainbody ul.form li{ padding-bottom:10px;}
.solutionCustomizeForm_mainbody ul.form .field{ text-align:left; padding-bottom:10px; height:auto; font-weight:bold; clear:both; float:none; width:auto}
/*solution customize form end*/

/*Solution Purchase Begin*/
.solutionPurchase_mainbody{ clear:both}
.solutionPurchase_mainbody .shoppingNavigation3{ clear:both; height:50px; background:url(../images/cart_navigation3.jpg) center top no-repeat; }
.solutionPurchase_mainbody .submitButtons{ width:120px}
.solutionPurchase_mainbody .box1 .content{ padding:30px 120px 10px 120px;}
.solutionPurchase_mainbody .box6 .content{ padding:30px 40px 15px 40px;}
.solutionPurchase_mainbody ul.form_h li{ width:110px; padding:0 25px;}
.solutionPurchase_mainbody ul.form li .message{ padding-bottom:15px; zoom:1}
.solutionPurchase_mainbody ul.form li .message:after{content:"."; display:block; height:0; clear:both; visibility:hidden}
/*Solution Purchase Begin*/

/*solution suite detail Begin*/
.solutionSuiteDetail_mainbody{ clear:both}
.solutionSuiteDetail_mainbody .leftColumn{ float:left; width:220px; _margin-right:-3px;}
.solutionSuiteDetail_mainbody .rightColumn{ float:none; margin-left:224px; _margin-left:221px;}
.solutionSuiteDetail_mainbody .rightColumn .rightColumnContainer{ overflow:hidden; _height:0; _overflow:visible}

.solutionSuiteDetail_mainbody .list_vertical ul li a img{ width:100px; height:75px;}
.solutionSuiteDetail_mainbody .subtotal{ text-align:center; padding-top:10px; clear:both;}
.solutionSuiteDetail_mainbody .subtotal div{ float:left; padding:3px 10px 0 10px;}
.solutionSuiteDetail_mainbody .subtotal a{ float:right}
/*solution suite detail End*/