@charset "utf-8";

body{ padding:0; margin:0; font-size:12px; font-family:"ו"; line-height:14px;}
body,html{ height:100%}
a{ color:#333333; text-decoration:none}
a:hover{ color:#666666; text-decoration:none}

.left{ float:left; height:100%; overflow:auto; width:180px; background:#E4E8EB; padding:0 5px; margin:0; _margin-right:-3px;}
.left .header{ clear:both; border:1px #B5D0EC solid; background:#FFFFFF url(/images/skin.gif) center top no-repeat; margin:5px 0;}
.left .header .links{ margin:2px; background:#778E9C; text-align:center; padding:3px; margin-top:70px; color:#FFFFFF}
.left .header .links a{ color:#FFFFFF; text-decoration:none}
.left .header .links a:hover{ color:#CCCCCC; text-decoration:none}
.left .group{clear:both; border:1px #B5D0EC solid; background:#FFFFFF; padding:1px; margin-bottom:5px;}
.left .group a.groupName{ background:url(/images/skin.gif) 0 -99px repeat-x; height:14px; padding:6px; clear:both; display:block; font-weight:bold}
.left .group ul.options{ clear:both; padding:10px; margin:0}
.left .group ul.options li{ line-height:24px; list-style-type:none}

.right{float:none; margin-left:190px; height:100%; overflow:auto; padding-left:1px; _margin-left:0; _overflow:hidden;}
.right .header{ clear:both; background:#E4E8EB; height:25px; padding:10px 0 0 10px;}
.main{ clear:both;}

#mainPage{ overflow-x:hidden}

.hidden{ display:none}
