<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  <sectionGroup name="shopping">
    <section name="steps" type="NoName.NetShop.ShopFlow.Config.ShopStepSection,NoName.NetShop.ShopFlow"/>
    <section name="smtp" type="System.Configuration.SingleTagSectionHandler"/>
  </sectionGroup>    
  </configSections>

  <shopping>
    <!-- 购物车步骤 -->
    <steps>
      <step key="commcart" description="通用购物车" stepCount="3" type="NoName.NetShop.ShopFlow.CommShopCart,NoName.NetShop.ShopFlow">
        <add key="showcart" url="/sp/ShowCart.aspx" description="" index="1"></add>
        <add key="fill" url="/sp/sec/FillOrderInfo.aspx" description="" index="2"></add>
        <add key="finish" url="/sp/sec/FinishOrder.aspx" description="" index="3"></add>
      </step>
    </steps>
    <smtp domain="smtp.163.com" port="25" username="mincyw" password="4220786" from="mincyw@163.com"
          cc="mincyw@163.com" fromname="mincyw" reply="mincyw@163.com"></smtp>
  </shopping>
</configuration>