<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="pageCategorySection" type="NoName.NetShop.CMS.Config.PageCategorySection,NoName.NetShop.CMS"/>
		<section name="publicContent" type="NoName.NetShop.CMS.Config.PublicContentSection,NoName.NetShop.CMS"/>
	</configSections>


	<pageCategorySection>
		<add key="HomePage" rootPath="" rootUrl="" />
		<add key="ChannelPage" rootPath="" rootUrl="" />
		<add key="SalesPage" rootPath="" rootUrl="" />
		<add key="IframePage" rootPath="" rootUrl="" />
	</pageCategorySection>


	<publicContent>
		<add key="mallHeader" name="标准头代码" path="F:\works\Project\NetShop\src\NoName.NetShop.ForeFlat\Common\Header.htm"/>
		<add key="mallFooter" name="标准尾代码" path="F:\works\Project\NetShop\src\NoName.NetShop.ForeFlat\Common\Footer.htm"/>
	</publicContent>
</configuration>
