<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="pageCategorySection" type="NoName.NetShop.CMS.Config.PageCategorySection,NoName.NetShop.CMS"/>
		<section name="publicContent" type="NoName.NetShop.CMS.Config.PublicContentSection,NoName.NetShop.CMS"/>
	</configSections>

    <appSettings>
        <add key="templateRootPath" value="E:\works\project\NetShop\src\NoName.NetShop.BackFlat\CMS\Template\"/>
    </appSettings>

	<pageCategorySection>
		<add key="HomePage" rootPath="E:\works\Project\NetShop\src\NoName.NetShop.ForeFlat\" rootUrl="http://localhost/" nameRule=""/>
		<add key="ChannelPage" rootPath="E:\works\Project\NetShop\src\NoName.NetShop.ForeFlat\Channel\" rootUrl="http://localhost/Channel/" nameRule="{0}\index.shtml" />
		<add key="SalesPage" rootPath="E:\works\Project\NetShop\src\NoName.NetShop.ForeFlat\Sales\" rootUrl="http://localhost/sales/" nameRule="{0}\{1}\{2}.shtml" />
		<add key="MagicWorld" rootPath="E:\works\Project\NetShop\src\NoName.NetShop.ForeFlat\MagicWorld\" rootUrl="http://localhost/MagicWorld/" nameRule="{0}.shtml"/>
	</pageCategorySection>

	<publicContent>
		<add key="mallHeader" name="标准头代码" path="E:\works\Project\NetShop\src\NoName.NetShop.ForeFlat\Common\Header.html"/>
		<add key="mallFooter" name="标准尾代码" path="E:\works\Project\NetShop\src\NoName.NetShop.ForeFlat\Common\Footer.html"/>
	</publicContent>
</configuration>
